.pokemon-list-wrapper{

    margin: 3rem auto;
   display: flex;
   flex-direction: column;
   align-items: center; 
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.controls{
    margin: 0 auto;
    padding: 30px;
}

.controls button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 2rem;
}